Projects/C++/Instructions/Instruction[[:space:]]to[[:space:]]get[[:space:]]started.mp4 filter=lfs diff=lfs merge=lfs -text
Projects/C++/Instructions/Running[[:space:]]project[[:space:]]in[[:space:]]Visual[[:space:]]Studio.mp4 filter=lfs diff=lfs merge=lfs -text
